<div class="card" style="width:41%">

  <div class="card-body">
    <h5 class="card-title">Live Weather Radar</h5>
    <iframe width="650" height="450" src="https://embed.windy.com/embed2.html?lat=9.930&lon=76.395&detailLat=9.930&detailLon=76.395&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=true&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" frameborder="0">
    </iframe>
  </div>

</div>
%
