<div class="login-page">
  <div class="form">
    <form [formGroup]="login_form" (ngSubmit)="login_function()" class="login-form">
      <input type="text" formControlName="username" placeholder="Username"/>
      <input type="password" formControlName="password" placeholder="Password"/>
      <button type="submit" class="login-button">login</button>
      <br>
      <br>
      <button type="button" style="width:100%" (click)="loginWithGoogle()" class="btn btn-outline-primary"><i class="fa-brands fa-google"></i>&nbsp;&nbsp;Login with Google</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>

